﻿@*@model IEnumerable<MasGlobal.Test.Models.EmployeeViewModel>*@
@model MasGlobal.Test.Models.EmployeeViewModel


@{
    ViewData["Title"] = "Index";

    List<EmployeeViewModel> EmployeeList = ViewBag.EmployeeList;

}
<hr />

<div class="row">

    <div class="col-md-6">

        <form asp-action="Index" asp-controller="Salary" method="post">

            <div class="form-group">

                <label asp-for="Id"></label>
                <input type="text" class="form form-control" asp-for="Id" />

            </div>

            <div class="form-group">

                <input type="submit" value="Get Employees" class="btn btn-primary" />


            </div>
        </form>

    </div>

</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContractTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleDescripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HourlySalary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MonthlySalary)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.AnualSalary)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in EmployeeList)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name

                    </td>
                    <td>
                        @item.ContractTypeName

                    </td>
                    <td>
                        @item.RoleId
                    </td>
                    <td>
                        @item.RoleName

                    </td>
                    <td>
                        @item.RoleDescripcion

                    </td>
                    <td>
                        @item.HourlySalary

                    </td>
                    <td>
                        @item.MonthlySalary

                    </td>

                    <td>
                        @item.AnualSalary

                    </td>

                </tr>
            }
        </tbody>
    </table>


</div>


