﻿@{
    ViewData["Title"] = "Home Page";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="container">

    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="employeeDatatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>

                    <th>Id</th>
                    <th>Name</th>
                    <th>ContractTypeName</th>
                    <th>RoleId</th>
                    <th>RoleName</th>
                    <th>RoleDescripcion</th>
                    <th>HourlySalary</th>
                    <th>MonthlySalary</th>
                    <th>AnualSalary</th>

                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts
    {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/employeeDatatable.js"></script>
}